:css
  body{
      background-color: #fff;
    }
  .centered {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #success-img{
    width: 50%;
  }


.centered
  .center
    = image_tag 'check.png', id:'success-img'
  %h2.center  Solicitud enviada
  %p.center
    Se le avisará por correo electrónico acerca de su visita.