%p
  ="Estimado(a) #{@visit.resp_name}."

%p
  Hemos recibido su solicitud para visitar el Centro de Investigación en Materiales Avanzados. Se revisarán las fechas disponibles y posteriormente se le notificará una vez sea aprobada.

Que pase un excelente día.