%p
  ="Estimado(a) #{@visit.resp_name}."

%p
  Gracias por considerarnos dentro de su programa de visitas.
  Para completar el proceso de solicitud es necesario dar click
  %a{href:"https://visitas.cimav.edu.mx/visits/token/#{@visit.token}"} aquí
  y subir los siguientes documentos:

  %ul
    %li Oficio de solicitud de la institución.
    -#%li Poliza de seguro.

%p También deberá ingresar en el sistema la lista de personas que atenderán a la visita.

%p Se le estará notificando en caso de ser aprobada.

Que pase un excelente día.
