%p
  Se ha recibido una solicitud de
  %b= @visit.institution
  para conocer las instalaciones del CIMAV.
%br
%p
  Para dar seguimiento a la solicitud haga click
  %a{href:"https://visitas.cimav.edu.mx/visits/#{@visit.id}"} aquí
  y seleccione los laboratorios que se visitarán.