%p
  Se ha recibido una solicitud de
  %b= @visit.institution
  para conocer las instalaciones del CIMAV.
%br
%p
  El administrador del sistema revisará la disponibilidad de fechas y seleccionará los laboratorios que se visitarán.
  %br
  Usted puede ver el seguimiento de la visita dando click
  %a{href:"https://visitas.cimav.edu.mx/visits/#{@visit.id}"} aquí