%p
  Este mensaje es para recordarle que en el sistema de
  %a{href:'https://visitas.cimav.edu.mx'}visitas.cimav.edu.mx
  hay
  %b="#{@pending_requests} #{@pending_requests == 1? 'solicitud pendiente a la cual' : 'solicitudes pendientes a las cuales'}"
  hay que dar seguimiento.

%p Es importante tener en cuenta que al "pre-aprobar" una visita, usted está confirmando que los documentos subidos por la institución están correctos.

%p Que tenga un excelente día