%p
  Se ha confirmado la visita virtual de
  %b=@visit.institution
  al Centro de Investigación en Materiales Avanzados para el día
  %b="#{l(@visit.date, format: "%d de %B del %Y")}."

%p
  La herramienta para las visitas virtuales que se utilizará es BlueJeans. BlueJeans te permite conectarte a una sesión desde su página web, sin embargo, el navegador de Internet (Internet Explorer, Chrome, Firefox, Opera, etc.) frecuentemente bloquea el sonido, por los que te pedimos que no te conectes desde la web. Descarga la aplicación gratuita desde el sitio https://www.bluejeans.com/es/descargas según el sistema operativo del dispositivo del que te vayas a conectar (Windows, Mac, Android, iPhone o Linux). Aún cuando puedes conectarte sin problema desde un teléfono celular o tableta, te recomendamos ampliamente que lo hagas desde una laptop o computadora de escritorio, para que puedas visualizar mejor los contenidos. Es indispensable que el equipo cuente con bocinas, micrófono y cámara web.
%p
  De ser posible, conecta tu laptop o computadora a un enlace de Internet de alta velocidad, preferentemente con cable de red (Ethernet) y desconecta de la red otros dispositivos (TV, tabletas, celulares, Zoom, Netflix, Clarovideo, Amazon Prime, etc.) que pudieran disminuir o saturar tu enlace de red, durante la visita.
%p
  Es importante observar las siguientes normas:
%ul
  %li
    Conectarse a las sesión puntualmente
  %li
    Trata cordial y respetuosamente a los exponentes y demás asistentes a la visita
  %li
    Utiliza vestimenta apropiada, recuerda que este es un evento académico
  %li
    Haz lo posible por estar en un lugar tranquilo libre de ruido o distractores que no te permitan tener toda tu atención en este evento
  %li
    Mantén tu micrófono desactivado, a menos que el expositor te ceda la palabra.

%p
  Se adjunta enlace a la reunión virtual:
%p  
  %a{href:"#{@visit.meeting_link}"}  
    = @visit.meeting_link   
