%p
  Se ha confirmado la visita de
  =@visit.institution
  a las instalaciones del Centro de Investigación en Materiales Avanzados para el día
  ="#{l(@visit.date, format: "%d de %B del %Y")}."

%p
  Los visitantes deben traer los artículos:
%ul
  %li Bata de laboratorio
  %li Zapato cerrado cómodo
