%p
  Se ha confirmado la visita de
  %b=@visit.institution
  a las instalaciones del Centro de Investigación en Materiales Avanzados para el día
  %b="#{l(@visit.date, format: "%d de %B del %Y")}."

%p Por medidas de seguridad se debe cumplir con lo siguiente.

%p
  Los visitantes deben traer:
%ul
  %li Bata de laboratorio
  %li Pantalón
  %li Zapato cerrado
  %li Identificación con fotografía

%p
  %b Deben presentarse en caseta de vigilancia al menos 30 minutos antes de su visita.
