%p
  ="Estimado(a) #{@visit.resp_name}."

%p
  Tenemos aprobada su solicitud para visitar el Centro de Investigación en Materiales Avanzados para el día
  ="#{fdate(@visit.date)}."
%p
  %b
    Le recordamos que tiene hasta el
    ="#{l(@visit.date - 3.days, format: "%d de %B del %Y")} a las 8:00PM"
    para confirmar su asistencia en
    %a{href:"https://visitas.cimav.edu.mx/visits/token/#{@visit.token}"} este enlace.
    En caso contrario su visita será cancelada.

%p Que pase un excelente día.