%p
  ="Estimado(a) #{@visit.resp_name}."

%p
  Su solicitud para visitar el Centro de Investigación en Materiales Avanzados ha sido aprobada para el día
  ="#{fdate(@visit.date)}."
%p
  %b
    Debe confirmar su asistencia
    %a{href:"https://visitas.cimav.edu.mx/visits/token/#{@visit.token}"} aquí
    al menos dos días hábiles antes de su visita. En caso contrario su visita será cancelada.

%p Que pase un excelente día.