%p
  Se ha confirmado la visita de
  %b=@visit.institution
  a las instalaciones del Centro de Investigación en Materiales Avanzados para el día
  %b="#{l(@visit.date, format: "%d de %B del %Y")}."

%p
  Una persona deberá recibir a los estudiantes en el domo del CIMAV.
