#login-area.card-panel
  /logo becas
  .row
    .col.l12.m12.s12.xl12
      =image_tag "cimav-logo-texto.png", id: 'cimav-logo',class:'responsive-img small'
    .col.l12.m12.s12.xl12.center
      /= image_tag "logo-calidad.png", id: 'app-logo', class:'responsive-img'
    .col.l12.m12.s12-xl12.center.center-align
      %h5#login-title Visitas guiadas
    .col.l12.m12.s12.xl12.centers
      %a#login-button.purple.darken-1.waves-effect.waves-light.btn-floating.btn-large.pulse{:href => "/auth/google_oauth2"}
        %i.material-icons
          power