.card .card-content .card-title  a i {
  line-height: inherit;
}.card .card-content .card-title  button i {
   line-height: inherit;
}
#visits-wrapper{
  display: block;
  overflow-y: scroll;
}

.room-visit-icon{
  max-height: 40px;
}

i.icon-button:hover{
  cursor: pointer;
  color: #30758b !important;
}

.icon-button{
  margin-left: 1rem;
}

.icon-button:first-of-type{
  margin-left: 0;
}
.icon-button:last-of-type{
  margin-right: 0;
}

#add-person{
margin-top: 2em;
}
