!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      /* Email styles need to be inline */
  %body
    =image_tag 'cimav-logo-texto.png', style:'margin-bottom: 20px; margin-top: 20px;'
    = yield
    %br
    %br
    %p Este correo fue enviado desde una dirección solamente de notificaciones que no puede aceptar correo electrónico entrante. Por favor no responda a este mensaje.